
@{
    ViewData["Title"] = "TableBranch";
}


<!-- Courses Start -->
<div class="container-fluid courses overflow-hidden py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Peri Pool Areas</h4>
            <h1 class="display-4 text-white mb-4">Please select an available table.</h1>
            <p class="text-white mb-0">
                Choose a table to enjoy our exclusive Peri Pool Areas. Experience luxurious amenities, a tranquil atmosphere, and top-tier service while you relax by the pool.
            </p>
            <p class="mb-1 text-success fs-3 fw-bold">Status: 43/56</p>
        </div>
        <div class="row gy-4 gx-0 justify-content-center">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="courses-item">
                    <div class="courses-item-inner p-4">
                        <div class="d-flex justify-content-between mb-4">
                            <div class="courses-icon-img p-3">
                                <img src="img/logoPeri.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="data-info d-flex flex-column">
                                <div class="courses-trainer d-flex align-items-center mb-1">
                                </div>
                                <div class="courses-date">
                                    <p class="mb-1 text-danger fs-5 fw-bold">Status: Playing</p>
                                    <p class="mb-0  fs-5 fw-bold">Time: 9h40AM - ...</p>
                                </div>

                            </div>
                        </div>
                        <a href="#" class="d-inline-block h4 mb-3">Table 1</a>
                        <p class="mb-4">
                            Table This table is in use. Please wait.
                        </p>
                        <a href="#" class="btn btn-primary py-2 px-4"> <span>Can't play</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="courses-item">
                    <div class="courses-item-inner p-4">
                        <div class="d-flex justify-content-between mb-4">
                            <div class="courses-icon-img p-3">
                                <img src="img/logoPeri.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="data-info d-flex flex-column">
                                <div class="courses-trainer d-flex align-items-center mb-1">
                                </div>
                                <div class="courses-date">
                                    <p class="mb-1 text-success fs-5 fw-bold">Status: Available</p>
                                    <p class="mb-0  fs-5 fw-bold">Time: Ready</p>
                                </div>

                            </div>
                        </div>
                        <a href="#" class="d-inline-block h4 mb-3">Table 2</a>
                        <p class="mb-4">
                            This table is available. You can play now.
                        </p>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#bookingModal" class="btn btn-primary py-2 px-4"> <span>Play Now</span></a>
                    </div>
                </div>
            </div>
             <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="courses-item">
                    <div class="courses-item-inner p-4">
                        <div class="d-flex justify-content-between mb-4">
                            <div class="courses-icon-img p-3">
                                <img src="img/logoPeri.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="data-info d-flex flex-column">
                                <div class="courses-trainer d-flex align-items-center mb-1">
                                </div>
                                <div class="courses-date">
                                    <p class="mb-1 text-danger fs-5 fw-bold">Status: Playing</p>
                                    <p class="mb-0  fs-5 fw-bold">Time: 9h40AM - ...</p>
                                </div>

                            </div>
                        </div>
                        <a href="#" class="d-inline-block h4 mb-3">Table 1</a>
                        <p class="mb-4">
                            Table This table is in use. Please wait.
                        </p>
                        <a href="#" class="btn btn-primary py-2 px-4"> <span>Can't play</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="courses-item">
                    <div class="courses-item-inner p-4">
                        <div class="d-flex justify-content-between mb-4">
                            <div class="courses-icon-img p-3">
                                <img src="img/logoPeri.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="data-info d-flex flex-column">
                                <div class="courses-trainer d-flex align-items-center mb-1">
                                </div>
                                <div class="courses-date">
                                    <p class="mb-1 text-success fs-5 fw-bold">Status: Available</p>
                                    <p class="mb-0  fs-5 fw-bold">Time: Ready</p>
                                </div>

                            </div>
                        </div>
                        <a href="#" class="d-inline-block h4 mb-3">Table 2</a>
                        <p class="mb-4">
                            This table is available. You can play now.
                        </p>
                        <a href="#" class="btn btn-primary py-2 px-4"> <span>Play Now</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="courses-item">
                    <div class="courses-item-inner p-4">
                        <div class="d-flex justify-content-between mb-4">
                            <div class="courses-icon-img p-3">
                                <img src="img/logoPeri.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="data-info d-flex flex-column">
                                <div class="courses-trainer d-flex align-items-center mb-1">
                                </div>
                                <div class="courses-date">
                                    <p class="mb-1 text-danger fs-5 fw-bold">Status: Playing</p>
                                    <p class="mb-0  fs-5 fw-bold">Time: 9h40AM - ...</p>
                                </div>

                            </div>
                        </div>
                        <a href="#" class="d-inline-block h4 mb-3">Table 1</a>
                        <p class="mb-4">
                            Table This table is in use. Please wait.
                        </p>
                        <a href="#" class="btn btn-primary py-2 px-4"> <span>Can't play</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="courses-item">
                    <div class="courses-item-inner p-4">
                        <div class="d-flex justify-content-between mb-4">
                            <div class="courses-icon-img p-3">
                                <img src="img/logoPeri.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="data-info d-flex flex-column">
                                <div class="courses-trainer d-flex align-items-center mb-1">
                                </div>
                                <div class="courses-date">
                                    <p class="mb-1 text-success fs-5 fw-bold">Status: Available</p>
                                    <p class="mb-0  fs-5 fw-bold">Time: Ready</p>
                                </div>

                            </div>
                        </div>
                        <a href="#" class="d-inline-block h4 mb-3">Table 2</a>
                        <p class="mb-4">
                            This table is available. You can play now.
                        </p>
                        <a href="#" class="btn btn-primary py-2 px-4"> <span>Play Now</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="courses-item">
                    <div class="courses-item-inner p-4">
                        <div class="d-flex justify-content-between mb-4">
                            <div class="courses-icon-img p-3">
                                <img src="img/logoPeri.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="data-info d-flex flex-column">
                                <div class="courses-trainer d-flex align-items-center mb-1">
                                </div>
                                <div class="courses-date">
                                    <p class="mb-1 text-danger fs-5 fw-bold">Status: Playing</p>
                                    <p class="mb-0  fs-5 fw-bold">Time: 9h40AM - ...</p>
                                </div>

                            </div>
                        </div>
                        <a href="#" class="d-inline-block h4 mb-3">Table 1</a>
                        <p class="mb-4">
                            Table This table is in use. Please wait.
                        </p>
                        <a href="#" class="btn btn-primary py-2 px-4"> <span>Can't play</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="courses-item">
                    <div class="courses-item-inner p-4">
                        <div class="d-flex justify-content-between mb-4">
                            <div class="courses-icon-img p-3">
                                <img src="img/logoPeri.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="data-info d-flex flex-column">
                                <div class="courses-trainer d-flex align-items-center mb-1">
                                </div>
                                <div class="courses-date">
                                    <p class="mb-1 text-success fs-5 fw-bold">Status: Available</p>
                                    <p class="mb-0  fs-5 fw-bold">Time: Ready</p>
                                </div>

                            </div>
                        </div>
                        <a href="#" class="d-inline-block h4 mb-3">Table 2</a>
                        <p class="mb-4">
                            This table is available. You can play now.
                        </p>
                        <a href="#" class="btn btn-primary py-2 px-4"> <span>Play Now</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="courses-item">
                    <div class="courses-item-inner p-4">
                        <div class="d-flex justify-content-between mb-4">
                            <div class="courses-icon-img p-3">
                                <img src="img/logoPeri.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="data-info d-flex flex-column">
                                <div class="courses-trainer d-flex align-items-center mb-1">
                                </div>
                                <div class="courses-date">
                                    <p class="mb-1 text-danger fs-5 fw-bold">Status: Playing</p>
                                    <p class="mb-0  fs-5 fw-bold">Time: 9h40AM - ...</p>
                                </div>

                            </div>
                        </div>
                        <a href="#" class="d-inline-block h4 mb-3">Table 1</a>
                        <p class="mb-4">
                            Table This table is in use. Please wait.
                        </p>
                        <a href="#" class="btn btn-primary py-2 px-4"> <span>Can't play</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="courses-item">
                    <div class="courses-item-inner p-4">
                        <div class="d-flex justify-content-between mb-4">
                            <div class="courses-icon-img p-3">
                                <img src="img/logoPeri.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="data-info d-flex flex-column">
                                <div class="courses-trainer d-flex align-items-center mb-1">
                                </div>
                                <div class="courses-date">
                                    <p class="mb-1 text-success fs-5 fw-bold">Status: Available</p>
                                    <p class="mb-0  fs-5 fw-bold">Time: Ready</p>
                                </div>

                            </div>
                        </div>
                        <a href="#" class="d-inline-block h4 mb-3">Table 2</a>
                        <p class="mb-4">
                            This table is available. You can play now.
                        </p>
                        <a href="#" class="btn btn-primary py-2 px-4"> <span>Play Now</span></a>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.2s">
                <a href="#" class="btn btn-primary py-3 px-5"> <span>More Courses</span></a>
            </div>
        </div>
    </div>
</div>
<!-- Courses End -->

<div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookingModalLabel">Table Booking</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="customerName" class="form-label">Table: </label>
                        <input type="text" class="form-control" id="customerName" required>
                    </div> 
                    <div class="mb-3">
                        <label for="customerEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="customerEmail" required>
                    </div>
                    <div class="mb-3">
                        <label for="paymentMethod" class="form-label">Payment Method</label>
                        <select class="form-control" id="paymentMethod">
                            <option value="credit_card">Credit Card</option>
                            <option value="paypal">PayPal</option>
                            <option value="cash">Cash</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="notes" class="form-label">Additional Notes</label>
                        <textarea class="form-control" id="notes" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Confirm Booking</button>
                </form>
            </div>
        </div>
    </div>
</div>
